body { color:#404040 }

.slide_title { color:#ff6600 }

.content pre { font-size:1em; line-height:1.1em }

pre.sh_sourceCode {
  background:#000;
  color:#fff;
}

pre.sh_sourceCode .sh_function {
  color:#f9e67b;
}

pre.sh_sourceCode .sh_string {
  color:#8d9d6a;
}

pre.sh_sourceCode .sh_symbol {
  color:#fff;
}

pre.sh_sourceCode .sh_keyword {
  color:#cf633e;
}

pre.sh_sourceCode .sh_cbracket {
  color:#fff;
}