* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  color:#777;
  text-decoration: none;
}

body {
  background: #fff;
  font-family: Helvetica, Arial;
  font-size: 100%;
  color: #333;
  overflow: hidden;
}

.clearfloat {
  clear: both;
}

.slide {
  padding-top: 1px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  
  .title {
    font-size: 4em;
    padding: 0 35px;
    margin: 30px 0;
  }
  
  .content {
    padding: 0 35px 30px;
    font-size: 2.6em;
    .caption { 
      background:#000; 
      padding:10px; 
      color: #fff;
    }
  }
}

.illustration_caption {
  float: left;
  margin: 190px 0 0 130px;
}

.center {
  text-align:center;
}

.highlight {
  font-size: 4em;
  background: #666;
  padding: 15px;
  margin-top:250px !important;
  margin-bottom: 20px;
  color:#fff !important;
  * { color:#fff !important }
}

ul {
  margin-left: 30px;
  margin-bottom: 20px;
  li { padding: 20px 0 }
}

.one_sentence {
  margin-top: 290px !important;
  line-height: 50px !important;
}

.spacing_top {
  margin-top: 100px;
}